/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 12, 2014, 9:14:23 PM
    Author     : securonix
*/

td {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    text-align: left; /* IE */
}
td + td {
    border-left: 1px solid #ccc;
}
th {
    padding: 0 5px;
    text-align: left; /* IE */
}
.header-background {
    border-bottom: 1px solid black;
}

/* above this is decorative, not part of the test */

.fixed-table-container {
    width: 100%;
    height: 200px;
    border: 1px solid black;
    margin: 10px auto;
    background-color: white;
    /* above is decorative or flexible */
    position: relative; /* could be absolute or relative */
    padding-top: 30px; /* height of header */
}

.fixed-table-container-inner {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.header-background {
    background-color: #D5ECFF;
    height: 30px; /* height of header */
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

table.environment {
    background-color: white;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.th-inner {
    position: absolute;
    top: 0;
    line-height: 30px; /* height of header */
    text-align: left;
    border-left: 1px solid black;
    padding-left: 5px;
    margin-left: -5px;
}

.first .th-inner {
    border-left: none;
    padding-left: 6px;
}

/* extra-wrap */

.extrawrap th {
    text-align: center;
}

.extra-wrap {
    width: 100%;
}

/* Zupa styles for centered headers */

.zupa div.zupa1 {
    margin: 0 auto !important;
    width: 0 !important;
}

.zupa div.th-inner {
    width: 100%;
    margin-left: -50%;
    text-align: center;
    border: none;
}

/* for hidden header hack to calculate widths of dynamic content */

.hidden-head {
    min-width: 530px; /* enough width to show all header text, or bad things happen */
}

.hidden-header .th-inner {
    position: static;
    overflow-y: hidden;
    height: 0;
    white-space: nowrap;
    padding-right: 5px;
}